<h3>Getting Started</h3>
<ul>
  <li class="{% if page.title == "Welcome" %}current{% endif %}">
    <a href="{{ site.url }}/gb_mapfish_appserver/">Welcome</a>
  </li>
  <li class="{% if page.title == "Quick-start guide" %}current{% endif %}">
    <a href="{{ site.url }}/gb_mapfish_appserver/quickstart">Quick-start guide</a>
  </li>
</ul>

<h3>Customization</h3>
<ul>
  <li class="{% if page.title == "Acess control" %}current{% endif %}">
    <a href="{{ site.url }}/gb_mapfish_appserver/access-control">Acess control</a>
  </li>
</ul>
